streamlit==1.38.0
langgraph==0.2.34
langgraph-checkpoint==2.0.2
langgraph-checkpoint-sqlite==2.0.1
langchain-core==0.3.10
langchain-groq==0.2.0
langchain-community==0.3.10
duckduckgo-search==6.3.5
beautifulsoup4==4.12.3
requests==2.32.3
python-dotenv==1.0.1
